.inicio{
    font-size: 25px;
}
.texto-decorativo{
  background: linear-gradient(90deg, red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.imagem-carrosel-um{
  height: 520px;
  object-fit: cover;
  object-position: 0 80%;
}

.imagem-carrosel-dois{
  height: 520px;
  object-fit: cover;
}

.titulo{
    font-size: 80px;
}

.foto{
    font-size: 40px;
}

.tamanho{
  height: 200px;
}

#form1{
  margin-bottom: 88px;
}

#btn-submit{
  background: linear-gradient(90deg, red, blue);
  color: white;
  font-weight: 100;
  border: none;
}
#btn-submit:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  background:linear-gradient(90deg,#483D8B	, #191970); 
}

.decora{
  text-decoration: none;
  font-size: 20px;
}
.decora:hover{
  text-decoration: underline;
}

.tamanhoDaImage{
  height: 100px;
}

.tamanhoDaFoto{
  text-align: center;
  height: 20px;
  width: 100%;
}


.footer {
  color: white;
  padding: 10px;
  box-sizing: border-box;
}
.footer p {
text-align: center;
}
.footer a {
  border: none;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  line-height: 35px;
  transition: all 1s;
}

.footer a:hover{
  background-color: midnightblue;
}
*/

.expandirImagem:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.tamanhoLink{
  height: 50px;
}

/*Responsivo*/
@media only screen and (max-device-width: 900px) {
  body header main figure footer {
    width: 900px;
  }

  
  }








